<section class="user_info">
  <%= render "shared/user_info" %>
</section>
<section class="stats">
  <%= render "shared/stats" %>
</section>
<section class="micropost_form">
  <%= render "shared/micropost_form" %>
</section>
