<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render "static_pages/new_post" %>
    </aside>
    <div class="col-md-8">
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <%= render "static_pages/welcome" %>
<% end %>
