<% provide(:title, "Sign up") %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "users/form", form_url: signup_path, button_text: "Create my account" %>
  </div>
</div>
