<% @user ||= current_user %>  <!--Get current user only in Home page-->
<div class="stats">
  <%= link_to followings_user_path(@user) do %>
    <strong id="followings" class="stat">
      <%= @user.followings.count %> 
    </strong>
    following
  <% end %>
  <%= link_to followers_user_path(@user) do %>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  <% end %>
</div>
